* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #080808;
}

.header_994741915 {
    position: relative;
    top: 9px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

::selection {
    background-color: #e70634;
    color: #080808;
}

/*==navigation==========================*/
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    max-width: 1400px;
    margin: auto;
    width: 100%;
}

.navigation .menu-icon {
    cursor: pointer;
    float: right;
    padding: 20px 10px;
    z-index: 103;
}

.navigation .menu-icon .nav-icon {
    background-color: #fff;
    display: block;
    height: 2px;
    width: 25px;
    position: relative;
    transition: background 0.2s ease-out;
}

.navigation .menu-icon .nav-icon::before,
.navigation .menu-icon .nav-icon::after {
    background-color: #ffffff;
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transition: all ease-out 0.2s;
}

.navigation .menu-icon .nav-icon::before {
    top: 8px;
}

.navigation .menu-icon .nav-icon::after {
    top: -8px
}

.navigation .menu-btn:checked~.menu-icon .nav-icon {
    background-color: transparent;
}

.navigation .menu-btn:checked~.menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0px;
}

.navigation .menu-btn:checked~.menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0px;
}

.menu-btn {
    display: none;
}

.menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #111111f1;
    z-index: 102;
    display: none;
    justify-content: center;
    align-items: center;
    animation: fade 0.3s;
}

.menu li a {
    color: #ffffff;
    margin: 0px 40px;
    font-size: 2rem;
    font-family: Monoton;
    transition: all ease 0.3s;
}

.menu li a:hover {
    font-size: 2.3rem;
    color: #e70634;
    transition: all ease 0.3s;
}

.navigation .menu-btn:checked~.menu {
    display: flex;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*-logo------------------------*/
.logo {
    color: #e70634;
    text-align: uppercase;
    font-size: 3rem;
    font-weight: 400;
    margin: 0px auto 0px 40px;
    align-items: center;
    font-family: Monoton;
    letter-spacing: 1px;
}

.logo span {
    font-size: 0.7rem;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    position: fixed;
    top: 62px;
    left: 26%;
}

/*--search-box---*/
.search-box {
    background-color: #d1d1d111;
    padding: 3px 20px;
    border-radius: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.spander_9 {
    color: #a4152c; 
}

.search-box input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffff;
}

.search-box input::placeholder {
    color: #ffffff5e;
}

.search-box button {
    background-color: transparent;
    color: #ffffff9c;
    border: none;
    outline: none;
    cursor: pointer;
}

/*==slider=======================================*/
.min-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 1170px;
    width: 100%;
}

.mein-slider-box {
    width: 253px;
    height: 450px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
    position: relative;
    overflow: hidden;
    user-select: none;
    justify-content: center;
    padding-left: 40p;
    position: relative;
    left: 39%;
    bottom: -38px;
}

.mein-slider-img {
    width: 110%;
    height: 101%;

    position: fixed;
}

.mein-slider-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.mein-slider-text {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 106%;
    background-color: linear-gradient(360deg, #161616b9 35%, rgba(73, 73, 73, 0.23) 64%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

.mein-slider-text .quality {
    background-color: #e70634;
    color: #080808;
    font-weight: 600;
    padding: 0px 5px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: relative;
    right: 17px;
}

.mein-slider-text .movie-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mein-slider-text .movie-name span {
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: rgba(240, 240, 240, 0.82);
}

.mein-slider-text .movie-name strong,
.mein-slider-text .movie-name a {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    color: #a4152c;
    letter-spacing: 0.5px;
    margin-left: -20px;
}

.main-lider-text .category {
    color: #969696;
    font-size: 0.8rem;
    font-weight: 500;
}

.mein-slider-text .category a {
    color: #e70634;
    margin: 0px 3px;
}

.rating img {
    height: 10px;
    width: 20px;
    object-fit: contain;
    object-position: center;
    display: flex;
}

.rating {
    font-size: 0.7rem;
    color: #ffff;
    letter-spacing: 1px;
    margin-right: 27px;
    margin-top: 4px;
    display: flex;
}

.mein-slider-text .category-rating {
    display: flex;
    width: 141%;
    justify-content: space-between;
    margin-top: 20px;
    display: flex;
}

.mein-slider-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 100%;
    background-color: rgba(27, 27, 27, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: all ease 0.3s;
    z-index: 2;
}

.mein-slider-overlay i {
    font-size: 2rem;
}

.mein-slider-box:hover .mein-slider-overlay {
    top: 0px;
    transition: all ease 0.3s;
    width: 100%;
}

.mein-textaria {
    margin-left: -24px;
}

.text-aria {
    margin-left: -23px;
}

.mein-slider-text .movie-name span {
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: rgba(240, 240, 240, 0.82);
    margin-left: -17px;
}

/* 
.swiper mySwiper{
    margin: 100px;
} */
/* .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal,{
    bottom: 412px;
    left: 2px;
    width: 98%;
}
 */

.swiper-button-next,
.swiper-button-prev {
    position: static !important;
    transform: translate(0, 0);
    margin: 10px 0px 0px 20px !important;
}

.slider-btns {
    display: flex;
    justify-content: flex-end;
    max-width: 1170px;
    width: 100%;
    margin: 10px auto 0px auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 25px !important;
    font-weight: 800;
    color: #ffffff;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 127%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    margin-top: 289px;
}


/*Laste=========================================================*/
#latest {
    max-width: 1170px;
    margin: 30px auto;
    width: 100%;
}

.latest-heading {
    width: 100%;
    padding: 10px 20px;
    background-color: #0e0e0ec2;
    border: 1px solid #161616b9;
}

.latest-heading h1 {
    color: #dadada;
    font-size: 1.3rem;
    font-weight: 500;
}

.post-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    margin: 20px 0px;
}

.post-box {
    width: 257px;
    height: 550px;
    overflow: hidden;
    background-color: #0e0e0ec2;
    box-shadow: 2px 2px 30px rgb(20 11 11 / 15%);
    position: relative;
    display: flex;
}

.post-box .post-img {
    width: 100%;
    height: 100%;
    display: flex;
}

.post-box .post-img img {
    width: 100%;
    height: 100%;
    object-position: top center;
    object-fit: cover;
    display: flex;

}

.mein-slider-text .movie-name a:hover {
    opacity: 0.5;
    transition: all ease 0.3s;
}

.hover_77 {
    width: 100%;
    padding: 10px 20px;
    background-color: #0e0e0ec2;
    border: 1px solid #161616b9;
}

.movie-name_7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mein-slider-text .movie-name span {
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: rgba(240, 240, 240, 0.82);
    margin-left: -17px;
}

.jj {
    width: 100%;
    border: 1px solid #161616b9;
    background-color: #161616b9;
    margin-top: 30px;
}


.cinima-img{
    width: 73%;
    margin-left: 11%;
}

.header_text_aligen {
    color: rgba(240, 240, 240, 0.82);
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 400;
    margin-left: 42%;
    font-family: Monoton;
}

.jujo {
    color: rgba(240, 240, 240, 0.82);
    margin-left: 23%;
    font-family: Monoton;
    font-size: 6rem;
}

.jiiiiiii {
    color: #a4152c; 
    font-family: Monoton;
    font-size: 6rem;
}

.header,
.header_1,
.header_3 {
    color: #e70634;
    margin-top: 4px;
}

.rating_2 {
    height: 10px;
    width: 20px;
    object-position: center;
    object-fit: contain;
    margin-top: 6px;
    margin-left: 5px;
    display: flex;
}

.yo {
    display: flex;
    justify-content: flex-start;
    margin-left: -204px;

}

.text-center {
    display: flex;
    margin-left: 206px;
    color: rgba(240, 240, 240, 0.82);
}

.text-aria_2 {
    margin-left: -23px;
    color: #e70634;
}

.categor_6 {
    color: #969696;
    font-size: 0.8rem;
    font-weight: 500;
}

.category-rating_9 {
    display: flex;
    width: 141%;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: -20px;

}

.movie-name_5_65 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #a4152c;
    margin-top: 350px;
}

.spander {
    color: #a4152c;
}

.rating_5 {
    height: 10px;
    width: 20px;
    object-fit: contain;
    object-position: center;
}

.butstap .butstap_1 .butstap_2 {
    color: #e70634;
}

.movie-name_5 {
    color: #a4152c;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    letter-spacing: 0.5px;
    margin-left: -20px;
}

.hover_textarea {
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: rgba(240, 240, 240, 0.82);
    margin-left: 3px;
}

.text-aria_17 {
    color: #e70634;
}

.categor_6 {
    color: #e70634;
}

.bottomm-text-aria {
    color: #e70634;
}


.bottomm-text-aria_2 {
    color: #e70634;
}


.bottomm-text-aria_3 {
    color: #e70634;
}

/* .sudo {
    display: flex;
} */


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.jujo_4 {
    color: rgba(240, 240, 240, 0.82);
    margin-left: 31%;
    font-family: Monoton;
    font-size: 6rem;
}

.header_text_aligen_7 {
    color: rgba(240, 240, 240, 0.82);
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 400;
    margin-left: 45%;
    font-family: Monoton;
}

.container_hs {
    width: 100%;
    height: 146vh;
    background-color: #a4152c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 302px;
    height: 69%;
    background-color: #1e1e26;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}

.doctor {
    width: 131px;
    height: 67px;
    margin-left: 123px;
}

.model {
    height: 350px;
    max-height: 100%;
    max-width: 100%;
}

.detalis {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.detalis p {
    font-family: calibri;
    font-weight: bold;
    color: #6a6a74;
    text-align: center;
}

.botya {
    color: #a4152c;
    margin-left: 43px;
    margin-top: -7px
}

.marvel {
    margin: 0px auto 0px 40px;
    width: 157px;
    height: 61px;
    margin-left: 126px;
    
}

.header-text_77 {
    color: white;
}

.text_header_area {
    color: white;
    text-align: uppercase;
    font-size: 3rem;
    font-weight: 300;
    margin: 0px auto 0px 40px;
    align-items: center;
    letter-spacing: 1px;
}



.rating-area {
    overflow: hidden;
    width: 265px;
    margin: 0 auto;
    margin-left: 18px;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
    margin-left: -8px;
}

.rating-area:not(:checked)>label:before {
    content: '★';
    margin-left: 15px;
}

.rating-area>input:checked~label {
    color: gold;
    text-shadow: 2px 1px #c62;
    /* margin-left: 11px; */
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: gold;
    text-shadow: 2px 1px #c62;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: gold;
    text-shadow: 2px 1px #c62;  
}

.rate-area>label:active {
    position: relative;
}

.rating-result {
    width: 265px;
    margin: 0 auto;
}

.rating-result span {
    padding: 0;
    font-size: 32px;
    margin: 0 3px;
    line-height: 1;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-result>span:before {
    content: '★';  
    margin-left: 15px;
}

.rating-result>span.active {
    color: gold;
    text-shadow: 2px 1px #c62;
}
.rating-area:not(:checked)>label:before {
    content: '★';
    margin-left: 15px;
}

.rating-area>input:checked~label {
    color: gold;
    text-shadow: 2px 1px #c62;
    /* margin-left: 11px; */
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: gold;
    text-shadow: 2px 1px #c62;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: gold;
    text-shadow: 2px 1px #c62;  
}

.rate-area>label:active {
    position: relative;
}

.rating-result {
    width: 265px;
    margin: 0 auto;
}

.rating-result span {
    padding: 0;
    font-size: 32px;
    margin: 0 3px;
    line-height: 1;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.movie-text-slider {
    text-align: center;
    justify-content: center;
    margin-left: 82px;
}

.movie-slider_textaligen {
    margin-left: 4px;
}

.textttttt {
    margin-left: 85px;
    font-family: Monoton;
}

.textttttt_00 {
    margin-left: 95px;
    font-family: Monoton;
}

.textttttt_d {
    margin-left: 112px;
    font-family: Monoton;
}

.suder {
    margin-left: 57px;
}

.detalis {
    margin-left: -43px;
}

.sssss {
    height: 96%;
    margin-left: 52px;
    width: 70%;
    margin-top: -18px;
}

.doctor_4 {
    width: 105px;
    height: 61px;
    margin-left: 135px;
}

.swiper-backface-hidden .swiper-slide {
    height: 64%;
    width: 70%;
    margin-left: -7px;
}

.swiper{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    /* margin-top: -104px; */
    margin-top: -19%;
}

.xalk-img {
    margin-top: -61px;
    width: 85%;
    height: 116%;
}

.xalk-img_5 {
    width: 68%;
    height: 87%;
    margin-left: 15px;   
}

.xalk-img_99 {
    margin-left: -99px;
    margin-top: -40px;
    width: 155%;
    height: 107%;
}

.doctor_9 {
    width: 159px;
    height: 100px;
    margin-left: 112px;
}

.textttttt_4 {
    margin-left: 44px;
    margin-top: -4px;
}

.marvel-img_7 {
    position: absolute;
    margin-top: 51%;
    margin-left: 24%;
}

.sudr {
    height: 96%;
    margin-left: 52px;
    width: 70%;
}

.suderty {
    height: 96%;
    margin-left: 66px;
    width: 70%;
}

.scss {
    height: 96%;
    margin-left: 52px;
    width: 70%;
}

.htmld {
    width: 90%;
    height: 90%;
}

.suder_999999 {
    margin-left: 80px;
}

.xalk-img_9900 {
    margin-top: -40px;
    width: 155%;
    height: 80%;
}

.spander_8 {
    color: rgba(240, 240, 240, 0.82);
}

/*----------------------Media----------------------- */

@media(max-width: 1000px){
    .watch-btn{
        margin-top: 20px;
    }
}

@media(max-width: 1000px){
    .jiiiiiii{
        color: #a4152c;
        font-family: Monoton;
        font-size: 5rem;
    }
    .jujo{
        color: rgba(240, 240, 240, 0.82);
        margin-left: 23%;
        font-family: Monoton;
        font-size: 3rem;
    }
    .header_text_aligen{
        color: rgba(240, 240, 240, 0.82);
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 400;
        margin-left: 29%;
        font-family: Monoton;
        margin-left: 108px;
    }
    .jj {
        width: 110%;
        border: 1px solid #161616b9;
        background-color: #161616b9;
        margin-top: 30px;
        margin-left: 17px;
    }

    .swiper-backface-hidden .swiper-slide{
        margin-top: -47%;
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .logo {
        color: #e70634;
    text-align: uppercase;
    font-size: 1rem;
    font-weight: 400;
    margin: 0px auto 0px 40px;
    align-items: center;
    font-family: Monoton;
    letter-spacing: 1px;
    }
    .navigation .menu-icon {
        cursor: pointer;
        float: right;
        padding: 20px 0px;
        z-index: 103;
        margin-left: -34px;
    }
    .search-box {
        background-color: #d1d1d111;
        padding: 2px 11px;
        border-radius: 39px;
        height: 39px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: -23px;
        width: 44%;
    }

    .menu li a {
        color: #ffffff;
        margin: 26px;
        font-size: 1rem;
        font-family: Monoton;
        transition: all ease 0.3s;
        margin-left: -7px;
    }

    .search-box button{
        background-color: transparent;
        color: #ffffff9c;
        border: none;
        outline: none;
        cursor: pointer;
        margin-left: -57%;
    }
    
.fav-icon {
    filter: invert(1);
    text-align: center;
    font-size: 30px;
    margin-top: 34px;
}



.best {
    margin-top: -52px;
    font-size: 40px;
}

    .mein-slider-img{
        width: 68%;
    height: 101%;
    position: fixed;
    }
    .jiiiiiii {
        color: #a4152c;
    font-family: Monoton;
    font-size: 3rem;
    margin-left: -78px;
    }
}

@media(max-width: 1000px){
    .jujo{
        color: rgba(240, 240, 240, 0.82);
        margin-left: 23%;
        font-family: Monoton;
        font-size: 3rem;
        margin-left: 90px;
    }

    .header_text_aligen {
        color: rgba(240, 240, 240, 0.82);
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 400;
        margin-left: 29%;
        font-family: Monoton;
        margin-left: 114px;
    }
}

@media(max-width: 1000px){
    .jujo {
        color: rgba(240, 240, 240, 0.82);
        margin-left: 23%;
        font-family: Monoton;
        font-size: 3rem;
        margin-left: 103px;
    }

    .logo {
     color: #e70634;
    text-align: uppercase;
    font-size: 2rem;
    font-weight: 400;
    margin: 0px auto 0px 40px;
    align-items: center;
    font-family: Monoton;
    letter-spacing: 1px;
    }

    .menu li a {
        color: #ffffff;
        margin: 26px;
        font-size: 0.5rem;
        font-family: Monoton;
        transition: all ease 0.3s;
        margin-left: -7px;
    }
    .mein-slider-box {
        width: 253px;
        height: 450px;
        box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
        position: relative;
        overflow: hidden;
        user-select: none;
        justify-content: center;
        padding-left: 40p;
        position: relative;
        left: 22%;
        bottom: -38px;
    }

    .cinima-img {
        width: 94%;
        margin-left: 3%;
    }
    @media(max-width: 1000px){
        .loader {
            width: 20%;
            height: 14%;
            border: 6px solid white;
            border-radius: 50%;
            border-top-color: brown;
            position: absolute;
            left: 50%;
            top: 49%;
            transform: translate(-50%, -50%);
            animation: 1s spin infinite linear;
            }
            .mein-slider-box {
                width: 253px;
                height: 450px;
                box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
                position: relative;
                overflow: hidden;
                user-select: none;
                justify-content: center;
                padding-left: 40p;
                position: relative;
                left: 15%;
                bottom: -38px;
            }
    }

    .loader {
        width: 20%;
        height: 14%;
        border: 6px solid white;
        border-radius: 50%;
        border-top-color: brown;
        position: absolute;
        left: 51%;
        top: 49%;
        transform: translate(-50%, -50%);
        animation: 1s spin infinite linear;
    }


}

    @media(max-width: 1277px){
        .loader {
            width: 7%;
            height: 16%;
            border: 6px solid white;
            border-radius: 50%;
            border-top-color: brown;
            position: absolute;
            left: 47%;
            top: 49%;
            transform: translate(-50%, -50%);
            animation: 1s spin infinite linear;
        }
    }

    @media(max-width: 400px){
        .loader {
            width: 20%;
            height: 14%;
            border: 6px solid white;
            border-radius: 50%;
            border-top-color: brown;
            position: absolute;
            left: 51%;
            top: 49%;
            transform: translate(-50%, -50%);
            animation: 1s spin infinite linear;
        }
    }
