* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #080808;
}

.header_994741915 {
    position: relative;
    top: 9px;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
}

::selection {
    background-color: #e70634;
    color: #080808;
}

/*==navigation==========================*/
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    max-width: 1400px;
    margin: auto;
    width: 100%;
}

.navigation .menu-icon {
    cursor: pointer;
    float: right;
    padding: 20px 10px;
    z-index: 103;
}

.navigation .menu-icon .nav-icon {
    background-color: #fff;
    display: block;
    height: 2px;
    width: 25px;
    position: relative;
    transition: background 0.2s ease-out;
}

.navigation .menu-icon .nav-icon::before,
.navigation .menu-icon .nav-icon::after {
    background-color: #ffffff;
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transition: all ease-out 0.2s;
}

.navigation .menu-icon .nav-icon::before {
    top: 8px;
}

.navigation .menu-icon .nav-icon::after {
    top: -8px
}

.navigation .menu-btn:checked~.menu-icon .nav-icon {
    background-color: transparent;
}

.navigation .menu-btn:checked~.menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0px;
}

.navigation .menu-btn:checked~.menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0px;
}

.menu-btn {
    display: none;
}

.menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #111111f1;
    z-index: 102;
    display: none;
    justify-content: center;
    align-items: center;
    animation: fade 0.3s;
}

.menu li a {
    color: #ffffff;
    margin: 0px 40px;
    font-size: 2rem;
    font-family: Monoton;
    transition: all ease 0.3s;
}

.menu li a:hover {
    font-size: 2.3rem;
    color: #e70634;
    transition: all ease 0.3s;
}

.navigation .menu-btn:checked~.menu {
    display: flex;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*-logo------------------------*/
.logo {
    color: #e70634;
    text-align: uppercase;
    font-size: 3rem;
    font-weight: 400;
    margin: 0px auto 0px 40px;
    align-items: center;
    font-family: Monoton;
    letter-spacing: 1px;
}

.logo span {
    font-size: 0.7rem;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    position: fixed;
    top: 62px;
    left: 26%;
}

/*--search-box---*/
.search-box {
    background-color: #d1d1d111;
    padding: 3px 20px;
    border-radius: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.search-box input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffff;
    content: "\f002";
}

.search-box input::placeholder {
    color: #ffffff5e;
}

.search-box button {
    background-color: transparent;
    color: #ffffff9c;
    border: none;
    outline: none;
    cursor: pointer;
}

/*==slider=======================================*/
.min-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 1170px;
    width: 100%;
}

.mein-slider_5 {
    margin-top: -22%;
}

.jiiiiiii_9 {
    color: #a4152c;
    font-family: Monoton;
    font-size: 6rem;
    margin-left: 33%;
}

.mein-slider-box {
    width: 253px;
    height: 450px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
    position: relative;
    overflow: hidden;
    user-select: none;
    justify-content: center;
    padding-left: 40p;
    position: relative;
    left: 39%;
    bottom: -38px;
}

.mein-slider-img {
    width: 110%;
    height: 101%;

    position: fixed;
}

.mein-slider-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.mein-slider-text {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 106%;
    background-color: linear-gradient(360deg, #161616b9 35%, rgba(73, 73, 73, 0.23) 64%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

.mein-slider-text .quality {
    background-color: #e70634;
    color: #080808;
    font-weight: 600;
    padding: 0px 5px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: relative;
    right: 17px;
}

.mein-slider-text .movie-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mein-slider-text .movie-name span {
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: rgba(240, 240, 240, 0.82);
}

.mein-slider-text .movie-name strong,
.mein-slider-text .movie-name a {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    color: #a4152c;
    letter-spacing: 0.5px;
    margin-left: -20px;
}

.main-lider-text .category {
    color: #969696;
    font-size: 0.8rem;
    font-weight: 500;
}

.mein-slider-text .category a {
    color: #e70634;
    margin: 0px 3px;
}

.rating img {
    height: 10px;
    width: 20px;
    object-fit: contain;
    object-position: center;
    display: flex;
}

.rating {
    font-size: 0.7rem;
    color: #ffff;
    letter-spacing: 1px;
    margin-right: 27px;
    margin-top: 4px;
    display: flex;
}

.mein-slider-text .category-rating {
    display: flex;
    width: 141%;
    justify-content: space-between;
    margin-top: 20px;
    display: flex;
}

.mein-slider-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 100%;
    background-color: rgba(27, 27, 27, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: all ease 0.3s;
    z-index: 2;
}

.mein-slider-overlay i {
    font-size: 2rem;
}

.mein-slider-box:hover .mein-slider-overlay {
    top: 0px;
    transition: all ease 0.3s;
    width: 100%;
}

.mein-textaria {
    margin-left: -24px;
}

.text-aria {
    margin-left: -23px;
}

.mein-slider-text .movie-name span {
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: rgba(240, 240, 240, 0.82);
    margin-left: -17px;
}

/* 
.swiper mySwiper{
    margin: 100px;
} */
/* .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal,{
    bottom: 412px;
    left: 2px;
    width: 98%;
}
 */

.swiper-button-next,
.swiper-button-prev {
    position: static !important;
    transform: translate(0, 0);
    margin: 10px 0px 0px 20px !important;
}

.slider-btns {
    display: flex;
    justify-content: flex-end;
    max-width: 1170px;
    width: 100%;
    margin: 10px auto 0px auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 25px !important;
    font-weight: 800;
    color: #ffffff;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 127%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    margin-top: 289px;
}


/*Laste=========================================================*/
#latest {
    max-width: 1170px;
    margin: 30px auto;
    width: 100%;
}

.latest-heading {
    width: 100%;
    padding: 10px 20px;
    background-color: #0e0e0ec2;
    border: 1px solid #161616b9;
}

.latest-heading h1 {
    color: #dadada;
    font-size: 1.3rem;
    font-weight: 500;
}

.post-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    margin: 20px 0px;
}

.post-box {
    width: 257px;
    height: 550px;
    overflow: hidden;
    background-color: #0e0e0ec2;
    box-shadow: 2px 2px 30px rgb(20 11 11 / 15%);
    position: relative;
    display: flex;
}

.post-box .post-img {
    width: 100%;
    height: 100%;
    display: flex;
}

.post-box .post-img img {
    width: 100%;
    height: 100%;
    object-position: top center;
    object-fit: cover;
    display: flex;

}

.mein-slider-text .movie-name a:hover {
    opacity: 0.5;
    transition: all ease 0.3s;
}

.hover_77 {
    width: 100%;
    padding: 10px 20px;
    background-color: #0e0e0ec2;
    border: 1px solid #161616b9;
}

.movie-name_7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mein-slider-text .movie-name span {
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: rgba(240, 240, 240, 0.82);
    margin-left: -17px;
}

.jj {
    width: 100%;
    border: 1px solid #161616b9;
    background-color: #161616b9;
    margin-top: 30px;
}


.header_text_aligen {
    color: rgba(240, 240, 240, 0.82);
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 400;
    margin-left: 42%;
    font-family: Monoton;
}

.jujo {
    color: rgba(240, 240, 240, 0.82);
    margin-left: 23%;
    font-family: Monoton;
    font-size: 6rem;
}

.jiiiiiii {
    color: #a4152c;
    font-family: Monoton;
    font-size: 6rem;
}

.header,
.header_1,
.header_3 {
    color: #e70634;
    margin-top: 4px;
}

.rating_2 {
    height: 10px;
    width: 20px;
    object-position: center;
    object-fit: contain;
    margin-top: 6px;
    margin-left: 5px;
    display: flex;
}

.yo {
    display: flex;
    justify-content: flex-start;
    margin-left: -204px;

}

.text-center {
    display: flex;
    margin-left: 206px;
    color: rgba(240, 240, 240, 0.82);
}

.text-aria_2 {
    margin-left: -23px;
    color: #e70634;
}

.categor_6 {
    color: #969696;
    font-size: 0.8rem;
    font-weight: 500;
}

.category-rating_9 {
    display: flex;
    width: 141%;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: -20px;

}

.movie-name_5_65 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #a4152c;
    margin-top: 350px;
}

.spander {
    color: #a4152c;
}

.rating_5 {
    height: 10px;
    width: 20px;
    object-fit: contain;
    object-position: center;
}

.butstap .butstap_1 .butstap_2 {
    color: #e70634;
}

.movie-name_5 {
    color: #a4152c;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    letter-spacing: 0.5px;
    margin-left: -20px;
}

.hover_textarea {
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: rgba(240, 240, 240, 0.82);
    margin-left: 3px;
}

/*----------------------Media----------------------- */

@media(max-width: 1000px) {
    .watch-btn {
        margin-top: 20px;
    }
}

@media(max-width: 1000px) {
    .jiiiiiii {
        color: #a4152c;
        font-family: Monoton;
        font-size: 5rem;
    }

    .jujo {
        color: rgba(240, 240, 240, 0.82);
        margin-left: 23%;
        font-family: Monoton;
        font-size: 3rem;
    }

    .header_text_aligen {
        color: rgba(240, 240, 240, 0.82);
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 400;
        margin-left: 29%;
        font-family: Monoton;
        margin-left: 108px;
    }

    .jj {
        width: 110%;
        border: 1px solid #161616b9;
        background-color: #161616b9;
        margin-top: 30px;
        margin-left: 17px;
    }

    .swiper-backface-hidden .swiper-slide {
        margin-top: -47%;
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .logo {
        color: #e70634;
        text-align: uppercase;
        font-size: 1rem;
        font-weight: 400;
        margin: 0px auto 0px 40px;
        align-items: center;
        font-family: Monoton;
        letter-spacing: 1px;
    }

    .navigation .menu-icon {
        cursor: pointer;
        float: right;
        padding: 20px 0px;
        z-index: 103;
        margin-left: -34px;
    }

    .search-box {
        background-color: #d1d1d111;
        padding: 2px 11px;
        border-radius: 39px;
        height: 39px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: -23px;
        width: 44%;
    }

    .search-box button {
        background-color: transparent;
        color: #ffffff9c;
        border: none;
        outline: none;
        cursor: pointer;
        margin-left: -57%;
    }

    .mein-slider-img {
        width: 68%;
        height: 101%;
        position: fixed;
    }

    .jiiiiiii {
        color: #a4152c;
        font-family: Monoton;
        font-size: 3rem;
        margin-left: -78px;
    }
}

@media(max-width: 1000px) {
    .jujo {
        color: rgba(240, 240, 240, 0.82);
        margin-left: 23%;
        font-family: Monoton;
        font-size: 3rem;
        margin-left: 90px;
    }

    .header_text_aligen {
        color: rgba(240, 240, 240, 0.82);
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 400;
        margin-left: 29%;
        font-family: Monoton;
        margin-left: 114px;
    }
}

@media(max-width: 1000px) {
    .jujo {
        color: rgba(240, 240, 240, 0.82);
        margin-left: 23%;
        font-family: Monoton;
        font-size: 3rem;
        margin-left: 90px;
    }

    .header_text_aligen {
        color: rgba(240, 240, 240, 0.82);
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 400;
        margin-left: 29%;
        font-family: Monoton;
        margin-left: 153px;
    }

    .jiiiiiii {
        color: #a4152c;
        font-family: Monoton;
        font-size: 2rem;
        margin-left: 6px;
    }

    .jiiiiiii_9 {
        color: #a4152c;
        font-family: Monoton;
        font-size: 3rem;
        margin-left: 24%;
    }

    .jujo {
        color: rgba(240, 240, 240, 0.82);
        margin-left: 23%;
        font-family: Monoton;
        font-size: 3rem;
        margin-left: 103px;
    }

    .logo {
        color: #e70634;
        text-align: uppercase;
        font-size: 2rem;
        font-weight: 400;
        margin: 0px auto 0px 40px;
        align-items: center;
        font-family: Monoton;
        letter-spacing: 1px;
    }

    .navigation .menu-icon {
        cursor: pointer;
        float: right;
        padding: 20px 0px;
        z-index: 103;
        margin-left: 43px;
    }

    .search-box {
        background-color: #d1d1d111;
        padding: 2px 11px;
        border-radius: 39px;
        height: 39px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: -66px;
        width: 44%;
    }

    .jiiiiiii_9 {
        color: #a4152c;
        font-family: Monoton;
        font-size: 3rem;
        margin-left: 25%;
    }

    .mein-slider_5 {
        margin-top: 7%;
    }

    .search-box {
        background-color: #d1d1d111;
        padding: 2px 11px;
        border-radius: 39px;
        height: 39px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 38px;
        width: 44%;
    }

    .navigation .menu-icon {
        cursor: pointer;
        float: right;
        padding: 20px 0px;
        z-index: 103;
        margin-left: -31px;
    }


    .mein-slider-img {
        width: 68%;
        height: 101%;
        position: fixed;
        margin-top: 68px;
    }

    .header_text_aligen {
        color: rgba(240, 240, 240, 0.82);
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 400;
        margin-left: 29%;
        font-family: Monoton;
        margin-left: 38%;
    }

    .jiiiiiii {
        color: #a4152c;
        font-family: Monoton;
        font-size: 2rem;
        margin-left: 25%;
    }

    .mein-slider_5 {
        margin-top: -28%;
    }

    .header_text_aligen {
        color: rgba(240, 240, 240, 0.82);
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 400;
        margin-left: 29%;
        font-family: Monoton;
        margin-left: 38%;
    }

    .menu li a {
        color: #ffffff;
        margin: 26px;
        font-size: 1rem;
        font-family: Monoton;
        transition: all ease 0.3s;
        margin-left: -7px;
    }

    .search-box {
        background-color: #d1d1d111;
        padding: 2px 11px;
        border-radius: 39px;
        height: 39px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: -39px;
        width: 44%;
    }

}


@media(max-width: 1000px) {
    .header_text_aligen {
        color: rgba(240, 240, 240, 0.82);
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 400;
        margin-left: 29%;
        font-family: Monoton;
        margin-left: 28%;
    }

    .menu {
        position: fixed;
        left: -16px;
        top: -60px;
        width: 100%;
        height: 100%;
        background-color: #111111f1;
        z-index: 102;
        display: none;
        justify-content: center;
        align-items: center;
        animation: fade 0.3s;
    }

    .fav-icon {
        filter: invert(1);
        text-align: center;
        font-size: 21px;
        margin-top: 34px;
        margin-left: 66%;
    }

    .best {
        margin-top: -46px;
        font-size: 35px;
    }



    .jiiiiiii {
        color: #a4152c;
        font-family: Monoton;
        font-size: 2rem;
        margin-left: -4%;
    }

    .mein-slider-box {
        width: 253px;
        height: 450px;
        box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
        position: relative;
        overflow: hidden;
        user-select: none;
        justify-content: center;
        padding-left: 40p;
        position: relative;
        left: 14%;
        bottom: -38px;
    }
}